../../../.CFUserTextEncoding
	../../../.DS_Store
	../../../.Protege/
	../../../.RData
	../../../.Rapp.history
	../../../.Renviron
	../../../.Rhistory
	../../../.Xauthority
	../../../.adobe/
	../../../.anaconda/
	../../../.astropy/
	../../../.bash_history
	../../../.bash_profile
	../../../.bash_sessions/
	../../../.cache/
	../../../.cargo/
	../../../.cluegoplugin/
	../../../.codegpt/
	../../../.conda/
	../../../.condarc
	../../../.config/
	../../../.continuum/
	../../../.cups/
	../../../.docker/
	../../../.equo/
	../../../.gitconfig
	../../../.glue/
	../../../.groovy/
	../../../.hackolade/
	../../../.idea/
	../../../.idlerc/
	../../../.ipynb_checkpoints/
	../../../.ipython/
	../../../.javacpp/
	../../../.jupyter/
	../../../.jythonconsole.history
	../../../.keras/
	../../../.knime/
	../../../.kube/
	../../../.local/
	../../../.matplotlib/
	../../../.mongodb/
	../../../.node_repl_history
	../../../.npm/
	../../../.odbc.ini
	../../../.odbcinst.ini
	../../../.ollama/
	../../../.openjfx/
	../../../.oracle_jre_usage/
	../../../.pdfbox.cache
	../../../.profile
	../../../.putty/
	../../../.radiant.sessions/
	../../../.redhat/
	../../../.rustup/
	../../../.spyder-py3/
	../../../.sqlanywhere16/
	../../../.ssh/
	../../../.tcshrc
	../../../.virtual_documents/
	../../../.virtualenvs/
	../../../.vscode/
	../../../.xonshrc
	../../../.zprofile
	../../../.zsh_history
	../../../.zsh_sessions/
	../../../.zshenv
	../../../.zshrc
	../../../01.gexf
	../../../=4.19
	../../../Applications/
	../../../Artboard 1.png
	../../../Creative Cloud Files/
	../../../CytoscapeConfiguration/
	../../../DaMaDi_09_extended.gephi
	../../../DaMaDi_10_extended.gephi
	../../../DaMaDi_11_extended.gephi
	../../../DaMaDi_12_extended.gephi
	../../../DaMaDi_ollama_01.gephi
	../../../DaMaDi_ollama_02.gephi
	../../../DaMaDi_ollama_03.gephi
	../../../DataspellProjects/
	../../../Desktop/
	../../../Documents/
	../../../Downloads/
	../../../Gephi_files/
	../../../Google Drive
	../../../Library/
	../../../Movies/
	../../../Music/
	../../../NER_entities.txt
	../../../Pictures/
	../../../Public/
	../../../PycharmProjects/
	../../../Sites/
	../../../Untitled23/
	../../../VOS Viewer/
	../../.DS_Store
	../../app.py
	../.DS_Store
	../all_gravity_terms_grid.svg
	../arxiv_distribution_dm_keyword.svg
	../author_citations.svg
	../author_paper_count.svg
	../co_occurrence_dm_models_and_colliders.svg
	../co_occurrence_dm_models_and_detectors.svg
	../co_occurrence_dm_models_and_gravity.svg
	../co_occurrence_dm_models_and_inferences.svg
	../co_occurrence_dm_models_and_methods.svg
	../co_occurrence_dm_models_and_particles.svg
	../co_occurrence_dm_models_and_telescopes.svg
	../co_occurrence_dm_models_and_theories.svg
	../custom_styles.css
	../dm_keyword_co_occurrence_theory_and_particle.svg
	../dm_models_and_citations_over_time_dm_keyword.svg
	../dm_models_and_downloads_over_time_dm_keyword.svg
	../dm_models_and_reads_over_time_dm_keyword.svg
	../dm_models_citations_dm_keyword.svg
	../dm_models_vs_citations.svg
	../dm_papers_over_time.svg
	../keyword_vs_citations.svg
	../mass_dm_models.svg
	../mass_dm_models_light.svg
	../mass_range.svg
	../metrics_vs_arXiv_category.svg
	../metrics_vs_arXiv_classification.svg
	../network/
	../network2/
	../network3/
	.DS_Store
	.Rapp.history
	README.txt
	config.json
	css/
	htaccess_example
	images/
	index.html
	js/
	web.config
	../paper_counts.csv
	../pop_dm_models.svg
	../pop_dm_models_light.svg
	../sunburst_chart.svg
	../telescope_mean_citations.svg
	../telescope_total_citations.svg
	../theories_avg_citations_time.svg
	../top15_gravity_grid.svg
	../top20_colliders_grid.pdf
	../top20_colliders_grid.svg
	../top20_detectors_grid.pdf
	../top20_detectors_grid.svg
	../top20_dm_models_grid.svg
	../top20_dm_models_grid_light.svg
	../top20_inferences_grid.svg
	../top20_methods_grid.svg
	../top20_stellar_objects.pdf
	../top20_stellar_objects.svg
	../top20_telescopes_grid.svg
	../top20_theory_grid_dark.svg
	../top_20_particles_grid_dark.svg
	../top_20_particles_grid_light.svg
	../top_authors_dm_keyword.svg
	../top_models_dm_keyword.svg
	../top_particles_dm_keyword.svg
	../top_stellar_objects_dm_keyword.svg
	../top_telescopes_dm_keyword.svg
	../total_citations_dm_keyword.svg
	../total_downloads_dm_keyword.svg
	../total_reads_dm_keyword.svg
	../../df_unique.csv
	../../requirements.txt
	../../skeleton.pkl
	../../../brat-1.3p1/
	../../../color_palette.ai
	../../../corpus_and_tokenization_abstracts.R
	../../../damadi_extended_nodes/
	../../../density_computation/
	../../../doccano/
	../../../edges.csv
	../../../embedding_process.log
	../../../extended_nodes.csv
	../../../git-lfs-3.5.1/
	../../../intellij-chatgpt/
	../../../java_error_in_dataspell.hprof
	../../../knime-workspace/
	../../../miniconda3/
	../../../network.svg
	../../../network/
	../../../ngram_dataframe.csv
	../../../nltk_data/
	../../../node_modules/
	../../../nodes.csv
	../../../package-lock.json
	../../../package.json
	../../../poster.ai
	../../../preprocessing_steps.pdf
	../../../preprocessing_steps_NLP.html
	../../../preprocessing_steps_NLP.md
	../../../prompt_with_schema.txt
	../../../random/
	../../../repositories/
	../../../stickies/
	../../../top_terms.csv
	../../../uyuyguyh.gephi
	../../../video.mp4
